#mainbody {
	background-color: DarkGray;
}

#mainblock {
	margin: auto;
	width: 50%;
	background-color: lightGray;
}

#containerMiddle {
	display: flex;
}

#leftBlock {
	/*margin-right: 25%;*/
	width: 75%;
	border-style: groove;
}

#rightBlock {
	/*margin-left: 75%;*/
	border-style: groove;
	flex: 1;
}

h1 {
	color: DarkRed;
}

#title {
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border: 1px solid black;
}